<template>
  <v-container>
    <v-layout row wrap>
      <v-flex md6>
        <v-card class="pa-3 ma-2">
          <div class="hp-card-content">
            <h1 style="text-align: center;"> Witaj Patryk! </h1>
          </div>
        </v-card>
      </v-flex>

      <v-flex md6>
        <v-card class="pa-3 ma-2">
          <div class="hp-card-content">
            <app-homepage-clock></app-homepage-clock>
          </div>
        </v-card>
      </v-flex>

      <v-flex md12>
        <v-card class="pa-3 ma-2">
          <app-homepage-weather></app-homepage-weather>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>

</template>

<script>
export default {
  name: 'homepage-dashboard',
  components: {
    appHomepageClock: require('./widgets/Clock').default,
    appHomepageWeather: require('./widgets/Weather').default
  }
}
</script>

<style lang="scss">
.hp-card-content {
  min-height: 200px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
</style>
