<template>
  <div id="content">

    <h1>Hello World!</h1>

    <!-- <div class="doc">
      <div class="title alt">Other Documentation</div>
      <button class="alt" @click="open('https://electron.atom.io/docs/')">Electron</button>
      <button class="alt" @click="open('https://vuejs.org/v2/guide/')">Vue.js</button>
    </div> -->
    <!-- <img id="logo" src="~@/assets/logo.png" alt="electron-vue"> -->
  </div>
</template>

<script>
  export default {
    name: 'landing-page',
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style lang="scss">

</style>
