<template>
    <app-network-info v-if="isConnected" :wifi="wifi"></app-network-info>
    <app-new-connection v-else>No connection</app-new-connection>
</template>

<script>
export default {
  name: 'network-tab',
  components: {
    appNetworkInfo: require('./NetworkInfo').default,
    appNewConnection: require('./NewConnection').default
  },
  data() {
    return {
      isConnected: false,
      wifi: {}
    }
  },
  created() {
    this.$http.get('/networks/self')
    .then(response => {
      if (response.data.length === 1) {
        this.isConnected = true
        this.wifi = response.data[0]

        console.log(this.wifi)
      } else {
        this.isConnected = false
      }
    })
    .catch(error => {
      console.log(error)
    })
  }
}
</script>

<style lang="scss">
</style>
