<template>
  <v-form v-model="valid" class="mb-3">
    <v-layout row wrap>
      <v-flex md5 class="px-2">
        <v-select
          :items="items"
          :rules="[v => !!v || 'Nazwa sieci jest wymagana']"
          v-model="ssid"
          label="Wybierz sieć"
          single-line
          append-icon="fa-caret-down"
          bottom>
        </v-select>
      </v-flex>
      <v-flex md5 class="px-2">
        <v-text-field
          name="network-password"
          label="Wprowadź hasło"
          hint="Zostaw puste jeśli brak hasła"
          :append-icon="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
          :append-icon-cb="() => (isPasswordVisible = !isPasswordVisible)"
          :type="isPasswordVisible ? 'text' : 'password'"
          @focus="showKeyboard"
          v-model="keyboardText"
          data-layout="normal">
        </v-text-field>
      </v-flex>
      <v-flex md2 class="px-1">
        <v-btn dark color="primary" @click="connect">Połącz</v-btn>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import {_} from 'underscore';

export default {
  name: 'network-form',
  props: {
    keyboardText: String
  },
  data() {
    return {
      ssid: '',
      items: [],
      isPasswordVisible: false,
      valid: true
    }
  },
  methods: {
    showKeyboard(e) {
      this.$emit('inputFocused', e)
    },
    connect() {
      let params = {
        'ssid': this.ssid,
        'password': this.keyboardText
      }

      if (this.ssid) {
        this.$http.post('/networks', params)
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
      }

    }
  },
  created() {
    this.$http.get('/networks')
    .then(response => {
      this.items = _.pluck(response.data, 'ssid')
    })
    .catch(error => {
      console.log(error)
    })
  }
}
</script>

<style lang="scss">
</style>
