<template>

  <v-layout row wrap>

    <v-flex md12>
      <v-card-title primary-title>
        <h3 class="headline">{{ title }}</h3>
      </v-card-title>
      <v-card-text>
        <p class="text-md-left">{{ description }}</p>
      </v-card-text>
    </v-flex>

    <v-flex md4>
      <h2 class="display-1 mb-5">{{ wifi.ssid }}</h2>
    </v-flex>

    <v-flex md8>
      <v-btn color="red darken-1 mb-5" dark large>Rozłącz</v-btn>
    </v-flex>

    <v-flex md3>
      <h3 class="title">{{ wifi.mac }}</h3>
      <p class="body-1">Adres MAC</p>
    </v-flex>

    <v-flex md3>
      <h3 class="title">{{ wifi.security }}</h3>
      <p class="body-1">Zabezpieczenia</p>
    </v-flex>

    <v-flex md3>
      <h3 class="title">{{ wifi.frequency }}</h3>
      <p class="body-1">Częstotliwość</p>
    </v-flex>

    <v-flex md3>
      <h3 class="title">{{ wifi.signal_level }}</h3>
      <p class="body-1">Siła sygnału</p>
    </v-flex>

  </v-layout>

</template>

<script>
export default {
  name: 'network-info',
  props: ['wifi'],
  data() {
    return {
      title: 'Sieć WiFi',
      description: 'Lorem ipsum dolor sit amet...'
    }
  }
}
</script>

<style lang="scss" scoped>

.display-1 {
  padding-left: .5em;
  margin: 0.25em 0 .75em;
}

.title {
  text-align: center;
}

.body-1 {
  text-align: center;
  font-style: italic;
  color: #ccc;
}

</style>
