<template>

  <v-layout row wrap>
    <v-flex md12>
      <v-card-title primary-title>
        <h3 class="headline">{{ title }}</h3>
      </v-card-title>
      <v-card-text>
        <p class="text-md-left">{{ description }}</p>
      </v-card-text>
    </v-flex>

    <v-flex md12>
      <app-network-form @inputFocused="show" :keyboardText="text"></app-network-form>
    </v-flex>

    <v-flex md12>
      <app-touch-keyboard id="keyboard" v-if="visible" :layout="'normal'" :input="input" @currentText="text = $event"/>
    </v-flex>
  </v-layout>

</template>

<script>
export default {
  name: 'network-info',
  data() {
    return {
      title: 'Połącz z siecią',
      text: '',
      description: 'Wybierz z rozwijnej listy sieć, z którą chcesz się połączyć i wprowadź hasło jeśli jest wymagane.',
      visible: false,
      input: null,
      options: {
        useKbEvents: true
      },
      isPasswordVisible: false
    }
  },
  components: {
    appNetworkForm: require('./NetworkForm').default,
    appTouchKeyboard: require('@/components/shared/keyboard/TouchKeyboard').default
  },
  methods: {
    show(e) {
      this.input = e.target;
      this.layout = e.target.dataset.layout;

      if (!this.visible)
        this.visible = true
    },

    hide() {
      this.visible = false;
    }
  }
}
</script>

<style lang="scss" scoped>

.router-icon {
  width: 128px;
  height: auto;
  display: block;
  margin: 50px auto 0;
}

</style>
