<template>
  <div>

    <v-tabs color="grey lighten-4" v-model="active" grow>
      <v-tabs-slider color="orange"></v-tabs-slider>
      <v-tab v-for="item in items" :key="item.id" :to="{ name: item.path }" ripple>
        {{ item.name }}
      </v-tab>
    </v-tabs>

    <v-container>
      <v-card class="pa-3 ma-2">
        <router-view></router-view>
      </v-card>
    </v-container>

  </div>
</template>

<script>
export default {
  name: 'settings-dashboard',
  data () {
    return {
      active: 'general',
      items: [
        {
          id: 'general',
          path: 'general-tab',
          name: 'Ogólne'
        },
        {
          id: 'network',
          path: 'network-tab',
          name: 'Sieć Wifi'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
</style>
