<template>
  <div class="clock-container">
    <span id="time">{{ time }}</span>
    <br/>
    <span id="date">{{ date }}</span>
  </div>
</template>

<script>
import moment from 'moment'

moment.locale('pl')

export default {
  data() {
    return {
      time: moment().format('LTS'),
      date: moment().format('LL')
    }
  },
  mounted: function() {
    setInterval(() => {
      this.time = moment().format('LTS'),
      this.date = moment().format('LL')
    }, 1000)
  }
}
</script>

<style lang='scss'>
.clock-container {
  width: 100%;
  text-align: center;

  #time {
    font-size: 48px;
    font-weight: bold;
  }

  #date {
    font-size: 27px;
    font-style: italic;
  }
}
</style>
