<template>
    <weather
        api-key='65be81de1d63cf4f4f2635c0130b002e'
        title='Pogoda'
        latitude='50.0616'
        longitude='19.9373'
        language='pl'
        units='si'>
    </weather>
</template>

<script>
import VueWeatherWidget from 'vue-weather-widget';
import 'vue-weather-widget/dist/css/vue-weather-widget.css';

export default {
    components: {
        'weather': VueWeatherWidget
    },
}
</script>
