<template>
  <v-layout row wrap>
    <v-flex md12>
      <v-text-field
        @blur="changeName()"
        v-model="plug.alias"
        :rules="nameRules"
        label="Nazwa"
        required
      ></v-text-field>
    </v-flex>

    <v-flex md12>
      <v-switch
        :label="`Status: ${switchControl ? 'On' : 'Off'}`"
        v-model="switchControl"
      ></v-switch>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'plug-form',
  props: [
    'plug'
  ],
  data() {
    return {
      nameRules: [
        v => !!v || 'Nazwa jest wymagana',
        v => v.length >= 3 || 'Minimalna długość to 3 znaki'
      ],
      switchControl: this.plug.relay_state
    }
  },
  watch: {
    switchControl: function(val) {
      var params = {
        ip: this.plug.host
      }

      this.$http.post('/plugs/switch', params)
      .then(function (response) {
        console.log(response.data);
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  },
  methods: {
    changeName() {
      if (this.plug.alias.length >= 3) {
        var params = {
          ip: this.plug.host,
          alias: this.plug.alias
        }

        this.$http.post('/plugs/alias', params)
        .then(function (response) {
          console.log(response.data);
        })
        .catch(function (error) {
          console.log(error);
        });
      }
    }
  }
}
</script>

<style>
</style>
