<template>
  <v-container>
    <v-card class="pa-3 ma-2">
      <v-layout row wrap>

        <v-flex md12>
          <v-card-title primary-title>
            <h3 class="headline">SmartPlugs</h3>
          </v-card-title>
        </v-flex>

        <v-flex md6>
          <v-layout row wrap>
            <v-flex md4>
                <div class="plug-item add-plug">
                  <v-btn color="light-green" outline large>
                    <v-icon color="light-green">fa-plus</v-icon>
                  </v-btn>
                </div>
            </v-flex>

            <v-flex md4 v-for="plug in plugs">
                <div class="plug-item add-plug">
                  <v-btn color="grey darken-1" @click="selectPlug(plug)" outline large>
                    <span>{{ plug.alias }}</span>
                  </v-btn>
                </div>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex md6 class="pa-3">
          <app-plug-form v-if="selectedPlug" :plug="this.selectedPlug"></app-plug-form>
        </v-flex>

      </v-layout>
    </v-card>
  </v-container>

</template>

<script>
export default {
  name: 'plugs-dashboard',
  components: {
    appPlugForm: require('./PlugForm').default
  },
  data() {
    return {
      plugs: [],
      selectedPlug: null
    }
  },
  created() {
    console.log('')
    this.$http.get('/plugs')
    .then(response => {
      this.plugs.push(response.data)
      console.log(this.plugs)
    })
    .catch(error => {
      console.log(error)
    })
  },
  methods: {
    selectPlug(plug) {
      this.selectedPlug = plug
    }
  }
}
</script>

<style lang="scss">
.plug-item {
  width: 200;
  height: 160px;

  button {
    width: 90%;
    height: 120px;



  }
}
</style>
