<template>
  <aside id="menuWrapper"  class="red darken-4" :class="{ open: isOpen }">

    <nav role="navigation">
      <v-btn flat icon color="white" class="menuButton" @click="isOpen = !isOpen" :class="{ open: toggle }">
        <v-icon>fa-angle-double-right</v-icon>
      </v-btn>

      <ul class="verticalMenu">
        <li v-for="item in items">
          <v-btn @click.native="isOpen = false"
                 :to="{ name: item.path }"
                 :class="[item.name, 'menuItem']"
                 color="white"
                 v-if="item.path == 'landing-page'"
                 flat icon exact>
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>

          <v-btn @click.native="isOpen = false"
                 :to="{ name: item.path }"
                 :class="[item.name, 'menuItem']"
                 color="white"
                 v-else flat icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>
        </li>
      </ul>
    </nav>

  </aside>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      items: [
        {
          path: 'homepage-dashboard',
          name: 'start',
          icon: 'fa-home'
        },
        {
          path: 'plugs-dashboard',
          name: 'smartPlugs',
          icon: 'fa-plug'
        },
        // {
        //   path: '',
        //   name: 'asystent',
        //   icon: 'fa-microphone'
        // },
        {
          path: 'general-tab',
          name: 'ustawienia',
          icon: 'fa-cogs'
        },
        {
          path: 'support-dashboard',
          name: 'pomoc',
          icon: 'fa-question'
        }
      ]
    }
  },
  methods: {
    console() {
      console.log('Click')
    }
  },
  computed: {
    toggle() {
      return this.isOpen
    }
  }
}
</script>

<style lang="scss" scoped>

aside#menuWrapper {
	width: 60px;
	height: 100%;
	left: 0;
	transition: left 0.5s ease-in-out 0.2s;
	position:fixed;
	display:inline-block;
	// background-color:#C9283E;
	z-index: 1000;

  overflow: hidden;
  transition: width 0.2s ease-in-out;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &.open {
    width: 250px;
  }

  nav {
    height: 100%;
    width: 100%;

    .menuButton {
      margin: 15px 12px;
      cursor: pointer;

      &.open i {
        transform: rotate(180deg);
      }
    }

    .verticalMenu {
      list-style: none;
      margin-top: 45px;
      padding: 0;

      li {
        margin-bottom: 10px;

        button {
          margin: 6px 12px;
          position: relative;
        }

        .menuItem::after {
          position: absolute;
          display: block;
          font-size: 16px;
          line-height: 32px;
          text-transform: capitalize;
          text-align: left;
          padding-left: 16px;
          left: 45px;
          width: 170px;
        }

        .start::after {
          content: 'Start';
        }

        .powiadomienia::after {
          content: 'Powiadomienia';
        }

        .smartPlugs::after {
          content: 'SmartPlugs';
        }

        .asystent::after {
          content: 'Asystent';
        }

        .ustawienia::after {
          content: 'Ustawienia';
        }

        .pomoc::after {
          content: 'Pomoc';
        }
      }
    }
  }
}

</style>
