<template>

  <v-layout row wrap>
    <v-flex md12>
      <v-card-title primary-title>
        <h3 class="headline">{{ title }}</h3>
      </v-card-title>
      <v-card-text>
        <p class="text-md-left">{{ description }}</p>
      </v-card-text>
    </v-flex>
  </v-layout>

</template>

<script>
export default {
  name: 'general-tab',
  data() {
    return {
      title: 'Ustawienia ogólne',
      description: 'Lorem ipsum dolor sit amet...'
    }
  }
}
</script>

<style lang="scss">
</style>
