<template>
  <v-app>
    <app-navigation></app-navigation>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Navigation from './components/core/Navigation.vue'

export default {
  name: 'ctfront',
  components: {
    appNavigation: Navigation
  }
}
</script>

<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

#app {
  padding-left: 60px;
}

#inspire {
  margin-left: 60px;
}

</style>
