<template>
  <h1>{{ msg }}</h1>
</template>

<script>
export default {
  name: 'support-dashboard',
  data() {
    return {
      msg: 'Hello from support dashboard!'
    }
  }
}
</script>

<style lang="scss">
</style>
